.container{
    height: 90vh;
}

#app{
    height: 100vh;
    background: linear-gradient(#009688 15%, #dbdbd2 15%);
}

/* regole generali */
img{
    border-radius: 50%;
    width: 50px;
}

ul li:hover{
    background-color: lightgray;
    cursor: pointer;
}

/* barra utente */ 
/* barra utente-Main chat */
.user-bar{
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(233, 233, 233);
}

/* barra opzione notifiche */
.notification-bar{
    height: 75px;
    display: flex;
    align-items: center;

    background-color: rgb(154, 208, 230);
}

/* barra di richerca chat */
#search-bar{
    background-color: whitesmoke;
}

.on-of-notification{
    padding: 1.1rem;
    border-radius: 50%;
    background-color: whitesmoke;
}

/* Main chat */
#main-chat{
    background-image: url(../img/mine.jpg);
}